header {
	height: 100vh;
	background-image: url(http://spacialtheme.herokuapp.com/3.0/images/unsplash/sunset.jpg);
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
header > div:first-child {
	padding: 20px 0;
}
header nav > div {
	display: inline-block;
	padding: 15px;
	position: relative;
}
header nav > div > a { color: #fff; text-decoration: none; }
header nav .submenu {
	display: none;
	position: absolute;
	background: #fff;
	top: 100%;
	left: 15px;
	min-width: 150px;
	border-radius: 5px;
}
header nav div:hover > .submenu { display: block }
header nav .submenu div {
	padding: 10px;
	cursor: pointer;
}
header nav .submenu div .submenu {
	left: 100%;
	top: 0;
}
header nav .submenu div a { color: #555; text-decoration: none; }
header nav .submenu div a i {
	position: absolute;
	right: 10px;
}
header nav .submenu div:hover { background-color: #f7f7f9 }
header h1,
header h4,
header div:last-child a {
	color: #fff;
	text-decoration: none;
}
header h4 {
	margin: 15px 0 35px;
}
.button {
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	border: 1px solid #fff;
	border-radius: 30px;
}
.button:hover {
	background: #fff;
	color: #000
}